/* Common */
@import url('./css/_fonts.css');
@import url('./css/_variables.css');
@import url('./css/_normalize.css');
@import url('./css/_helpers.css');

/* Стили для шапки */
.header {
    position: absolute;
    top: 3vh;
    left: 21.4%; 
    transform: translateX(-50%);
    margin: 0vh 50vh;
}

.container {
    display: flex;
    margin: 0 auto;
    width: 100%;
}

.header_group {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-color-main);
    column-gap: 20vh;
}

.logo {
    background-color: var(--text-light-color);
    padding: 0px 16vh;
    letter-spacing: 10px;
    font-family: 'UbuntuCondensed'; 
    font-size: 24px;
    color: var(--text-orange-color);
    text-align: center;
}

.menu {
    list-style-type: none;
    background-color: var(--header-color-main);
    display: flex; 
    font-family: 'UbuntuCondensed'; 
    justify-content: left;
    margin: 0px 150px;
    column-gap: 50px;
}

.menu__link {
    text-decoration: underline;
    text-decoration-thickness: 2px; 
    text-underline-offset: 6px;
    color: #ecf0f1;
    font-family: 'KREMLIN', sans-serif;
    font-size: 20px;
    padding: 5px 10px;
    right: 50%;
    transition: color 0.3s ease;
}

.menu__link:hover {
    color: #e74c3c;
    text-decoration: underline;
}

header::after {
    content: "";
    display: block;
    transform: translateX(1%);
    width: 98%;
    height: 20px;
    background-color: var(--header-color-alt);
}

.background {
    background-image: url('./assets/images/bg.png');
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_background {
    background-color: var(--bg-color);
    margin-top: 135px;
    margin-right: 18vh;
    justify-content: center;
    align-items: center;
    width: 140vh;
    height: 320vh;
    text-align: center;
}

.main-inf {
    background-color: #ffe8d6; 
    border-radius: 15px;
    margin: 54px;
    margin-left: 20px;
    padding: 50px;
    font-family: 'UbuntuCondensed'; 
    max-width: 65%;
    text-align: left;
}

.text {
    font-family: 'UbuntuCondensed', sans-serif; 
}

.QR-container{
    margin: 14vh 16vh 0vh ;
    margin-left: 20px;
    justify-items: left;
    font-family: 'UbuntuCondensed'; 
}
.blocks-card_title_QR{
    margin: 0px;
    padding: 0px;
    padding: 50px;
    font-size: 64px;
    text-decoration: underline;
}
.QR{  
    display: flex;
    margin-left: 50px;
}

.container_QR{
    display: flex;
    height: 150px;
}
.qr-code {
    position: relative;
    background-color: white;
}
.main_text{
    display: flex;
    font-size: 20px;
    text-align: left;
    margin-right: 2em;
}

.picture {
    position: relative;
    width: 488px;
    height: 275px;
}

.noise::before {
  content: '';
  position: absolute;
  inset: 0;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.75' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.3'/%3E%3C/svg%3E");
  pointer-events: none;
}

