:root {
    /* Colors */
    --accent-color: #bd3434;

    --bg-color: #eed7c5;

    --color-main: #CF765C;
    --color-alt: #F9B390;

    --text-orange-color: #F97E60;
    --text-light-color: #ccc;


    /* Animations */
    --transition: 0.2s ease-in-out;
}

